#winner.modal.hide.fade
  .modal-header
    %i.icon-remove-sign.close{ :type => :button, :data => { :dismiss => :modal, :aria => { :hidden => :true } } }
    %h3 برندگان هرهرکرکر
  .modal-body
    .rtl
      %h4 آیا برنده شده اید؟
      %p ما با برندگان از طریق برنامه تماس میگیریم. پس از برنده شدن ,ما با شما از طریق push notification داخل برنامه تماس میگیریم. (این امکان در حال حاضر در گوشی شما موجود است و شما برای فعال سازی اقدامی لازم نیست بکنید.)
      %h4 اگر برنده برنامه هرهرکرکر را حذف کرده باشد چه میشود؟
      %p جایزه شما در برنامه تا ٢ ماه محفوظ است. درصورتی که برنده , جایزه خود را درخواست نکند ما آن را به بیزینس مربوطه مرجوع میکنیم یا در صورتی که بیزینس مربوطه اجازه دهد آن جایزه با قرعه کشی به فرد دیگری واگذار میشود.
      %h4 فکر میکنید برنده اید ولی ما با شما تماس نگرفته ایم؟
      %p اگر شما در هنگام جواب دادن سوال هایی مانند اسم و اسم خانوادگی , شماره موبایل یا ایمیل اطلاعات اشتباه وارد کنید ما از دادن جایزه معذوریم. همچنین اگر نام شما در لیست برندگان آماده است ولی ما با شما تماس نگرفته ایم در نظر داشته باشید که احتمال تشابه اسمی وجود دارد به همین دلیل ما افراد را از روی شماره منحصر به فرد دستگاه همراه "Device ID" جدا سازی میکنیم. 
      %h4 سوال دارید؟
      %p لطفا با ما از طریق app@tectual.com.au تماس بگیرید و پیشنهادات , انتقادات و سوالات خود را درمیان بگذارید. 
  .modal-footer
    %a.btn{ :href => '#', :data => { :dismiss => :modal } } انصراف
 
.winners
  %h3 برندگان هرهرکرکر
  -@won_rewards.each do |reward|
    .winner
      %img{ src: reward.reward.image(:thumb) }
      .name= reward.device.name 
