- content_for :head do
  =javascript_include_tag "chart.min"
  :javascript
    $(function(){
      hhkk.charts.registrations( #{@registrations.to_json} );
    });
.main
  %canvas#registrations{ width: '600', height: '300' }
