.main
  .row-fluid
    .span12
      %h1 هرهرکرکر (ورژن پاتوق)
      %img{ src: '/assets/new-logo.png' }
      %h2 جوک , پاتوق , کوپن
      %h3 نسخه  #{HHKK::CONFIGS['version']}
      .links
        %a.btn.btn-primary.btn-large{ href: HHKK::CONFIGS['links']['direct'] }
          %i.fa.fa-android.fa-lg
          دانلود مستقیم از سایت
        %p.downloads
          %span.title
            یا از اپ استور های زیر بگیرید
          %br
          %a{ href: HHKK::CONFIGS['links']['google'] } گوگل پلی
          |
          %a{ href: HHKK::CONFIGS['links']['cando'] } کندو
          |
          %a{ href: HHKK::CONFIGS['links']['bazar'] } کافه بازار
          |
          %a{ href: HHKK::CONFIGS['links']['myket'] } مایکت
          |
          %a{ href: HHKK::CONFIGS['links']['plaza'] } پلازا
        %p لطفا در هنگام گرفتن به ورژن دقت کنید بعضی از اپ استور ها قدیمی تر هستند.
  .demos
    .demo
      %img{ src: '/assets/demo1.jpg' }
      %h3 اشتراک گزاری جوک
    .demo
      %img{ src: '/assets/demo2.jpg' }
      %h3 کوپن تخفیف رایگان
    .demo
      %img{ src: '/assets/demo3.jpg' }
      %h3 پاتوق کردن
    .demo
      %img{ src: '/assets/demo4.jpg' }
      %h3 کاهش هزینه تفریح
    .demo
      %img{ src: '/assets/demo5.jpg' }
      %h3 دریافت مدال
  .links
    %a.btn.btn-primary.btn-large{ href: HHKK::CONFIGS['links']['direct'] }
      %i.fa.fa-android.fa-lg
      دانلود مستقیم از سایت
    %p.downloads
      %span.title
        یا از اپ استور های زیر بگیرید
      %br
      %a{ href: HHKK::CONFIGS['links']['google'] } گوگل پلی
      |
      %a{ href: HHKK::CONFIGS['links']['cando'] } کندو
      |
      %a{ href: HHKK::CONFIGS['links']['bazar'] } کافه بازار
      |
      %a{ href: HHKK::CONFIGS['links']['myket'] } مایکت
      |
      %a{ href: HHKK::CONFIGS['links']['plaza'] } پلازا
    %p لطفا در هنگام گرفتن به ورژن دقت کنید بعضی از اپ استور ها قدیمی تر هستند.
