//@import 'bootstrap3'
@import 'rbootstrap', 'rbootstrap-responsive'
@import 'font-awesome/css/font-awesome.min.css'
@import 'main'

body.admin
  .modal-body
    text-align: right

.answer
  background: #E0D8C5
  border-radius: 3px
  padding: 3px 10px
  line-height: 26px
  margin: 2px 0
  &.button
    background: #998E77
    color: #fff
    text-align: center
    cursor: pointer
  .icon
    color: #993232
    display: inline-block
    margin-top: 4px
    text-decoration: none
    cursor: pointer
.question, .reward
  background: #ccc
  padding: 5px 10px
  border-radius: 5px
  margin: 1px 0
  .fn-disable
    display: none
  &.live
    background: #49893B
    .fn-disable
      display: inline-block
    .fn-enable
      display: none
      
.reward
  text-align: center
  display: inline-block
  width: 30%
  .date
    font-weight: bold
    direction: ltr
  .instruction
    span
      display: block
      height: 30px
      overflow: auto
    textarea
      display: none
  .image
    margin: auto
    position: relative
    overflow: hidden
    width: 100px
    height: 100px
  input[type=text]
    width: 20px
    background: rgba(255,255,255,0.3)
    border: none
    border-bottom: #fff 1px dashed
  input[type=file]
    cursor: pointer
    direction: ltr
    font-size: 23px
    margin: 0
    opacity: 0
    position: absolute
    right: 0
    top: 0
    transform: translate(-200px, 100px) scale(9)
    -ms-transform: translate(-200px, 100px) scale(9)
    -webkit-transform: translate(-200px, 100px) scale(9)
    -o-transform: translate(-200px, 100px) scale(9)
    -moz-transform: translate(-200px, 100px) scale(9)
