@import 'bootstrap.min', 'bootstrap-rtl.min', 'icheck/blue'
@import 'font-awesome.min.css'
@import 'main'

@font-face
  font-family: 'FontAwesome'
  src: url('/assets/fontawesome-webfont.eot?v=4.0.3')
  src: url('/assets/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('/assets/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('/assets/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('/assets/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Beiroot'
  src: url('/assets/beiroot.eot')
  src: url('/assets/beiroot.otf') format('opentype') 
  src: url('/assets/beiroot.woff') format('woff'), url('/assets/beiroot.ttf') format('truetype'), url('/assets/beiroot.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'BYekan'
  src: url('/assets/BYekan.eot')
  src: url('/assets/BYekan.otf') format('opentype') 
  src: url('/assets/BYekan.woff') format('woff'), url('/assets/BYekan.ttf') format('truetype')
  font-weight: normal
  font-style: normal

.fa.close, body .fa, body .content * .fa
  font-family: 'FontAwesome'

.icheckbox_square-blue
  margin-left: 3px
