[class^="icon-"], [class*=" icon-"]
  background-image: none

.loading
  z-index: 1000
  display: none
  position: absolute
  top: 10px
  left: 50%
  margin-left: -110px
  width: 100px
  border-radius: 5px
  box-shadow: 0 0 5px #000
  background: #fff
  text-align: center
  padding: 10px
 
.template, .secret
  display: none

body
  font-family: 'Beiroot' 
  .list, .main
    padding-bottom: 90px
    padding-top: 20px
    text-align: center
    width: 400px
    margin: auto
  .main
    width: auto
    padding-bottom: 10px

.logo
  background: no-repeat
  height: 20px
  overflow: visible
  position: relative
  display: inline-block
  img
    width: 80%
    margin-top: -30%

.demos
  font-size: 0
  padding-top: 10px
  .demo
    display: inline-block
    h3
      font-size: 18px
      color: #42A4FD

.tools
  background: url(/assets/bar.png)
  position: fixed
  bottom: 0
  left: 0
  right: 0
  padding: 10px
  text-align: center
  z-index: 1000
  span
    color: #fff
    font-size: 20px
    font-weight: bold
  .btn
    background: #097d1f
    border: none
    color: #fff

.modal-body
  text-align: center
textarea
  height: 80px
  display: inline
  width: 90%

.post
  background: #fff
  box-shadow: 0 0 5px #000
  border-shadow: #aaa 1px solid
  border-radius: 5px
  position: relative
  margin: 10px 0 20px
  p
    padding: 25px 10px 0px
    color: #664f1a
  .date
    position: absolute
    bottom: 5px
    left: 10px
    color: #977e47
  .sharing
    height: 30px
  .likes
    position: absolute
    right: 5px
    top: 0px
    font-size: 12px
    color: #977e47
    .fn-liked, .fn-disliked
      cursor: pointer
    .fn-liked
      display: none
    &.liked
      .fn-liked
        display: inline-block
      .fn-disliked
        display: none

.main
  .post
    background: #8d836c
    p
      color: #f0e7d2
    .date
      color: #e6c57a

.downloads
  padding-top: 25px
  font-size: 18px
  .title
    border-top: #aaa 1px dashed
    padding: 5px 50px
.btn-primary
  background: #42A4FD
  &:hover
    background: #4587C1

.modal-footer
  background: #E0D8C5
  .btn-primary
    background: #998E77
.fn-submitted
  display: none

.more
  padding: 10px
  background: #EDDDBC
  margin: 20px 0 
  p 
    padding: 0
    margin: 0
    font-size: 14px
    font-weight: bold

@media screen and (min-device-width: 320px)  and (max-device-width: 480px)
  body
    .list, .main
      width: 95% !important
  .logo 
    img
      width: 45px
      margin-top: 0px
  .tools
    line-height: 45px
