[class^="icon-"], [class*=" icon-"]
  background-image: none

.loading
  display: none
  position: absolute
  top: 10px
  left: 50%
  margin-left: -110px
  width: 100px
  border-radius: 5px
  box-shadow: 0 0 5px #000
  background: #fff
  text-align: center
  padding: 10px
 
.template, .secret
  display: none

body
  background: #eee
  .list, .main
    padding-bottom: 30px
    padding-top: 20px
    text-align: center
    width: 400px
    margin: auto
  .main
    width: 450px

hr
  border-top-color: #aaa

.tools
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background: #257FC4
  padding: 10px
  text-align: center
  span
    color: #fff
    font-size: 14px
    font-weight: bold

.modal-body
  text-align: center
textarea
  height: 100px
  display: inline
  width: 90%

.post
  background: #fff
  box-shadow: 0 0 5px #000
  border-shadow: #aaa 1px solid
  border-radius: 5px
  position: relative
  margin: 10px 0 10px
  p
    padding: 25px 10px 0px
    color: #555
  .date
    position: absolute
    top: 5px
    right: 10px
    color: #257FC4
  .sharing
    height: 20px
    img
      width: 30px
.main
  .post
    .sharing
      height: 25px
      img
        width: 40px
