@import 'rbootstrap', 'rbootstrap-responsive'
@import 'font-awesome/css/font-awesome.min.css'
@import 'main'

.modal .modal-body
  max-height: 250px
  overflow-y: auto
.rtl
  text-align: right
  direction: rtl

.winners
  text-align: center
.winner
  border: #CBBB09 1px dashed
  padding: 5px
  width: 45%
  display: inline-block
  height: 140px
  border-radius: 5px
  margin-bottom: 3px
  img
    border: #fff 4px solid
    box-shadow: 0 0 5px #000
    border-radius: 3px
  .name
    font-weight: bold
    font-size: 14px
    color: #342C00
    margin-top: 5px
